# Drizzle
# Replace with your DB credentials!
# TODO: Check DATABASE_URL and adjust it to your needs
# TODO: Run npm run db:push to update your database schema
DATABASE_URL="postgres://user:password@host:port/db-name"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
# TODO: Run npm run auth:schema to generate the auth schema
# TODO: Run npm run db:push to update your database
# TODO: Check ORIGIN & BETTER_AUTH_SECRET and adjust them to your needs
# TODO: Visit /demo/better-auth route to view the demo
BETTER_AUTH_SECRET=""
