# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Build outputs
**/dist
**/build
**/.svelte-kit

# Static assets
**/static

# Database
**/drizzle

# Dependencies
node_modules
